<div class="container mt-5" style="width: 50%;">
<image src="https://t3.ftcdn.net/jpg/01/46/05/92/360_F_146059226_RtadCdxp8CnJevkAO01ARMNdmda7s5eA.jpg">

<h1 style="margin-top: -338px;margin-left: 53px;">Order Placed Successfully</h1>
<a href="/orders" class="btn btn-success" style="margin-left: 225px;">view Orders</a>

</div>
